@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jalnan";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.ttf")
      format("truetype");
  font-display: swap;
}

body {
  font-family: "Jalnan", "Noto Sans KR", sans-serif;
  height: 100vh;
  background: url("../public/images/bg.png") no-repeat center;
  background-size: cover;
  z-index: -1;
  margin: none;
  padding: none;

  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  min-height: 100vh; /* 화면 전체 높이로 설정 */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
